* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    box-shadow: 0px 0px 8px black;
    height: 700px;
    width: 100%;
    text-align: center;
    vertical-align: middle;

}

header nav {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;

}

header nav ul {
    margin: auto;
    display: flex;
    gap: 40px;


}

header nav ul li {
    display: flex;

    vertical-align: middle;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 900px;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    padding: 10px;
    margin: 30px 20px 40px 20px;
    text-align: center;
}

.first {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    vertical-align: middle;
    text-align: center;
}

.wor {
    font-weight: 900px;
    font-size: 200px;
    color: rgba(0, 0, 255, 0.875);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;


}

.card-first {
    width: 100%;
    background-color: rgb(238, 233, 184);
}

.card-wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 150px;
    height: 500px;

}

.card-wrapper .card {
    width: 48%;
    padding: 15px;
}

.card-wrapper .card h1 {
    animation-name: cardAnime;
    animation-duration: 0.7s;
}

.card-wrapper .cards img {

    animation-name: cardTwo;
    animation-duration: 0.7s;
}

@keyframes cardAnime {
    0% {
        transform: translate(-250px);
        opacity: 0;

    }

    100% {
        transform: translate(0);
        opacity: 1;

    }
}

@keyframes cardTwo {
    0% {
        transform: translate(250px);
        opacity: 0;

    }

    100% {
        transform: translate(0);
        opacity: 1;

    }
}

.cup-wrapp{
    width: 100%;
   
    height: 500px;
    margin: auto;
    display: flex;
    justify-content:center;
  gap: 50px;
    padding: 150px;

}
.cup-wrapp .caps{
    width: 48%;
    padding: 15px;
}
.cup-wrapp .cup{
    animation-name:cupAnime ;
    animation-duration: 0.7s;
}
.cup-wrapp .caps h1{
    animation-duration: 0.7s;
    animation-name: capsAnime;
}
 .cup-wrapp .caps{
    width: 600px;
   
}
@keyframes cupAnime{
    0%{
        opacity: 0;
        transform: translate(-250px);

    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes capsAnime{
    0%{
        opacity: 1;
        transform: translate(250px);

    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}

.cup-wrapp .cup p{
    vertical-align: middle;
    text-align: center;
    margin: 90px;
}
.sub-wrapper{
    border: 1px solid red ;
    height: 450px;
    background-color: rgba(45, 45, 202, 0.764);
    margin: auto;
    text-align: center;
}
.sub{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    font-weight:900px ;
    text-align: center;
    padding: 40px;
    margin: 40px;
    color: white;

}
.btn{
    background-color:orangered;
    color: white;
    padding: 10px 30px 10px 30px;
  border: none;
    border-radius: 20px;
   margin: auto;
}
.ent{
border-radius: 15px;
border: none;
padding: 10px 70px 10px 70px;
}
.sam{
    color: white;
    margin: 80px;
}
footer{
    background-color: black;
    height: 80px;
    border-radius: 0 0 15px 15px;
}
footer p{
    color: white;
    text-align: center;
    padding: 30px;
}
a{
    color: white;
}

